/.github
**/build
**/coverage
**/cypress
**/lib
**/node_modules
.git
.gitignore
.prettierrc
codecov.yml
cypress.config.ts
docker-compose.yml
renovate.json
Dockerfile
Dockerfile.prod
License
README.md
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches