# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
inventory-management-system/node_modules
inventory-management-system/.pnp
inventory-management-system/.pnp.js

# testing
**/cypress/logs/
inventory-management-system/coverage

# development
.vscode

# production
inventory-management-system/build

# misc
inventory-management-system/.DS_Store
inventory-management-system/.env.local
inventory-management-system/.env.development.local
inventory-management-system/.env.test.local
inventory-management-system/.env.production.local

inventory-management-system/npm-debug.log*
inventory-management-system/yarn-debug.log*
inventory-management-system/yarn-error.log*

**/public/*settings*.json
!**/public/*settings.example.json
